
@font-face {
  font-family: 'Muller';
  src: url('/font/MullerRegular.woff2') format('woff2'),
    url('/font/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/font/MullerBold.woff2') format('woff2'),
    url('/font/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/font/MullerMedium.woff2') format('woff2'),
    url('/font/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

